<div class="card-item">
  <div class="card-item-content {{cardColor}}">
    <div class="header">
      <label>{{cardLabel}}</label>
      <h3>{{cardHader}}</h3>
    </div>
    <div class="card-body">
      <div class="details">
        <div ng-bind-html="cardDetails"></div>
      </div>
    </div>
    <div class="card-footer">
      <div class="card-footer-icons text-muted">
          <i class="card-footer-icon fa fa-heart" aria-hidden="true"
             data-toggle="tooltip" data-placement="top" title="Reviews"></i>
          <i class="card-footer-icon fa fa-bars" aria-hidden="true"
             data-toggle="tooltip" data-placement="top" title="Detail"></i>
          <i class="card-footer-icon fa fa-share" aria-hidden="true"
             data-toggle="tooltip" data-placement="top" title="Share"></i>        
          <i class="card-footer-icon fa fa-download" aria-hidden="true"
             data-toggle="tooltip" data-placement="top" title="Download"></i>          
        </div>
    </div>
  </div>
</div>