<!-- Displays the defined jobs in the current project -->
<div ng-controller="MainCtrl as mainCtrl">
  <div ng-include="'nav.html'"></div>


  <div id="wrapper" class="toggled" ng-controller="KibanaCtrl as kibanaCtrl">
    <div class="overlay"></div>
    <div ng-controller="ProjectCtrl as projectCtrl">
      <div ng-include="'navProject.html'"></div>
    </div>
    <section>
      <div class="content-wrapper">
        <div class="content" style="height:100%; overflow: hidden;" >	
          <div>
            <iframe id="kibana_iframe"  ng-src="{{kibanaCtrl.ui}}" width="1070" height ="800" ></iframe> 
          </div>
        </div>
      </div>

    </section>
  </div>
  <!-- /#wrapper -->
</div>


